@charset "UTF-8";
@font-face {
    font-family: 'OPTIBerling-Agency';
    src:url('../fontes/OPTIBerling-Agency.ttf.woff') format('woff'),
        url('../fontes/OPTIBerling-Agency.ttf.svg#OPTIBerling-Agency') format('svg'),
        url('../fontes/OPTIBerling-Agency.ttf.eot'),
        url('../fontes/OPTIBerling-Agency.ttf.eot?#iefix') format('embedded-opentype'); 
    font-weight: normal;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --verde-tema: #539E78;
    --verde-claro-suave: #B8D9D0;
    --laranja-tom-de-pele: #D9A282;
    --laranja-principal: #A68953;
    --marrom: #735317;
    --verde-logo: #5E893A;
    --fonte-sans-serif: 'Hanken Grotesk', sans-serif;
    --fonte-serifada: 'OPTIBerling-Agency', serif;
}

*{
    margin: 0px;
    padding: 0px;
    font-size: 1em;
}

body {
    background-color: var(--verde-claro-suave);
    font-family: var(--fonte-sans-serif);
    font-size: 16px;
    min-width: 320px;
}

header{
    background-color: var(--verde-logo);
    padding: 1.5em;
}

header p {
    font-family: var(--fonte-serifada);
    color: var(--laranja-principal);
    font-size: 4em;
    text-align: center;
}
header p#clinica-estetica{
    font-size: 1.2em;
    text-align: center;
    padding-bottom: 1.5em;
}
header li{
    list-style-type: none;
    font-family: var(--fonte-serifada);
    margin-left: auto;
    margin-right: auto;
}

header a{
    text-decoration: none;
    color: black;
}
header a:hover{
    text-decoration: underline;
    transition: 0.5s;
}
.container-flex-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.container-flex{
    display: flex;
    flex-direction: row;
    

}
.container-flex-reverse{
    display: flex;
    flex-direction: row-reverse;
    

}

