@charset "UTF-8";
@font-face {
    font-family: 'OPTIBerling-Agency';
    src:url('../fontes/OPTIBerling-Agency.ttf.woff') format('woff'),
        url('../fontes/OPTIBerling-Agency.ttf.svg#OPTIBerling-Agency') format('svg'),
        url('../fontes/OPTIBerling-Agency.ttf.eot'),
        url('../fontes/OPTIBerling-Agency.ttf.eot?#iefix') format('embedded-opentype'); 
    font-weight: normal;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --verde-tema: #539E78;
    --verde-claro-suave: #B8D9D0;
    --laranja-tom-de-pele: #D9A282;
    --laranja-principal: #A68953;
    --marrom: #735317;
    --verde-logo: #5E893A;
    --fonte-sans-serif: 'Hanken Grotesk', sans-serif;
    --fonte-serifada: 'OPTIBerling-Agency', serif;
}

*{
    margin: 0px;
    padding: 0px;
    font-size: 1em;
    list-style-type: none;
    text-decoration: none;
}

body {
    background-color: var(--verde-claro-suave);
    font-family: var(--fonte-sans-serif);
    font-size: 16px;
    min-width: 320px;
}

header{
    background: linear-gradient(86deg, rgba(13,61,37,1) 0%, rgba(37,88,45,1) 20%, rgba(81,137,58,1) 100%);
    padding: 1.5em;
}

header p {
    font-family: var(--fonte-serifada);
    color: var(--laranja-principal);
    font-size: 4em;
    text-align: center;
    text-shadow: 1px 1px 1px 1px black;
}
header p#clinica-estetica{
    font-size: 1.2em;
    text-align: center;
    padding-bottom: 1.5em;
    text-shadow: 1px 1px 1px 1px black;
}
header li{
    list-style-type: none;
    font-family: var(--fonte-serifada);
    margin-left: auto;
    margin-right: auto;
}

header a{
    text-decoration: none;
    color: #ffefd1;
    text-shadow: 1px 1px 1px 1px black;
}
header a:hover{
    text-decoration: underline;
    transition: 0.5s;
}
.container-flex-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.container-flex{
    display: flex;
    flex-direction: row;
    

}
.especialista-container{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-around;
    height: 80vh;

}
.quem-somos{
    padding: 3em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 80vh;

}
.quem-somos-texto {
    display: flex;
    flex-direction: column;
    gap: 1em;
    max-width: 500px;
    background-color: #539e79b6;
    padding: 1.5em;
    border-radius: 1.5em;
}
.quem-somos-texto h1{
    font-family: var(--fonte-serifada);
    font-size: 2em;
    color: var(--marrom);
    
}

.quem-somos-texto p{
    text-indent: 1em;
    line-height: 1.25em;
    
}
.especialista-texto{
    display: flex;
    flex-direction: column;
    gap: 1em;
    max-width: 500px;
    background-color: #539e79b6;
    padding: 1.5em;
    border-radius: 1.5em;

}
.especialista-texto h1{
    font-family: var(--fonte-serifada);
    font-size: 2em;
    color: var(--marrom);
}
.procedimentos-container{
    display: none;
    align-items: center;
    justify-content: space-around;
    height: 80vh;

}
.procedimentos-lista-container{
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.procedimentos-lista-container li{
    margin-top: 2em;
}
.procedimentos-container-show{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 70vh;

}
.procedimentos-lista-container-show{
    display: flex;
    flex-direction: column;
    gap: 2em;
    align-items: center;
}

.procedimentos-lista-container-show li{
    margin-top: 2em;
    font-family: var(--fonte-sans-serif);
    font-size: 1.5em;
    letter-spacing: 3px;
}
.procedimentos-lista-container-show li:hover{
    cursor: pointer;
    text-decoration: underline;
}
.procedimentos-lista-container-show h1{
    font-family: var(--fonte-serifada);
    font-size: 3em;
    margin-bottom: 2.5em;
    letter-spacing: 3px;
}
.rodape{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 4em;
    height: 40vh;
}
.rodape-servicos{
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}
.rodape-endereco{
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}
.rodape-contato{
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}
.rodape-contato a{
    color: black;
    display: flex;
    align-items: center;
}
.rodape-contato img{
    height: 1em;
}